################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoadKingDW Solution/LoadKing Command and Control DB Project/bin/Debug
