################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/LoadKingDW Solution/.vs/LoadKingDW Solution/v16/.suo
/LoadKingDW Solution/LoadKing Command and Control DB Project/bin/Debug
/LoadKingDW Solution/LoadKing Command and Control DB Project/obj/Debug
/LoadKingDW Solution/LoadKing Command and Control DB Project/LoadKingDW Solution/LoadKing Command and Control DB Project.jfm
/LoadKingDW Solution/LoadKingDW DB Project/bin/Debug
/LoadKingDW Solution/LoadKing Command and Control DB Project/LoadKing Command and Control DB Project.dbmdl
/LoadKingDW Solution/LoadKingODS DB Project/obj/Debug
/LoadKingDW Solution/LoadKingODS DB Project/LoadKingODS DB Project.jfm
/LoadKingDW Solution/LoadKingODS DB Project/LoadKingODS DB Project.sqlproj.user
/LoadKingDW Solution/LoadKingODS DB Project/bin/Debug
/LoadKingDW Solution/LoadKingODS DB Project/LoadKingODS DB Project.dbmdl
/LoadKingDW Solution/UpgradeLog.htm
/LoadKingDW Solution/LoadKingDW SSIS Project/BimlScript.biml
/LoadKingDW Solution/LoadKingDW SSIS Project/LoadKingDW SSIS Project.dtproj.user
/LoadKingDW Solution/LoadKingDW DB Project/obj/Debug
/LoadKingDW Solution/LoadKingDW DB Project
*.jfm
*.jfm
